.ldfavorites-content {
    max-width: 72%;
}

.ldfavorite-button:not(.active) {
    background-color: #fff !important;
    color: #999;
    border-color: #999;
    border: 2px solid;
}

.ldfavorite-button.active {
    background-color: #555 !important;
    color: #FFF;
    border-color: #555;
    border: 1px solid;
}

.ldfavorite-button {
    outline: none;
}

.ldfavorites-block {
    margin-bottom: 50px;
}

.ldfavorites-block a {

}

.center {
    text-align: center;
}

.ldfavorites-pagination {
    display: inline-block;
}

.ldfavorites-pagination a {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    border-radius: 3.7px;
}

.ldfavorites-pagination a.active {
    background-color: #047ccc;
    color: white;
    border: 1px solid #047ccc;
}

.ldfavorites-pagination a:hover:not(.active) {
    background-color: #ddd;
}

.ldfavorites-preloader {
    height: 10px;
}

@media screen and (max-width: 480px) {

    .ldfavorites-content {
        max-width: 100% !important;
    }

}

.ldfavorites-arrows {
    float: right;
    display: block;
}

.ldfavorites-arrows a img {
    height: 28px;
}

.ldfavorites-arrow-top {

}

.ldfavorites-arrow-bottom {

}

.ldfavorites-remove {
    margin-left: 5px;
}

.ldfavorites-remove img {
    opacity: 0.4;
}

.ldfavorites-remove img:hover {
    opacity: 1;
}